<section class="animatedbg" style="height: 1500px;">
  <nav class="navbar navbar-dark navbar-expand-md text-white mt-auto">
    <div class="container"><a class="navbar-brand" routerLink='/home'><img src="../assets/img/am_logo.png"
          class="logo"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"
        style="margin-top: 37px;margin-right: 6px;"><span class="sr-only">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse text-center" id="navcol-1">
        <ul class="nav navbar-nav text-white ml-auto navtop">
          <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="padding-right: 30px;">Work</a>
          </li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/feedbacks" style="padding-right: 30px;">Customer Feedback</a>
          </li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="padding-right: 30px;">About</a>
          </li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink='/contact'
              style="padding-right: 30px;">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="height: 1000px;">
    <div class="container">
      <p class="main-para animated bounceInUp"><strong>Let's design something great together.</strong></p>
      <p class="description animated bounceInUp">If you'd like to start a new project, need help with an existing project or have any other
        enquiry, please get in touch.</p>
      <div class="row animated fadeIn" style="padding-top: 150px;">
        <div class="col">
          <div class="row">
            <div class="col">
              <h6 class="email">EMAIL</h6>
            </div>
          </div>
          <div class="row">
            <div class="col"><object width="50px" height="50px" class="col-icon" data="../assets/icons/mail.svg"></object></div>
            <div class="col column" style="margin-left: -200px;">
              <h5 class="info-next-to-col">mohamed.aleya@medtech.tn</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h6 class="email">TELEPHONE</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <object width="40px" height="40px" class="col-icon" data="../assets/icons/phone.svg"></object>
            </div>
            <div class="col column">
              <h1 class="info-next-to-col">+ 216 52 612 330</h1>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h6 class="email">LOCATION</h6>
            </div>
          </div>
          <div class="row">
            <div class="col"><object width="40px" height="40px" class="col-icon" data="../assets/icons/location.svg"></object></div>
            <div class="col column">
              <h1 class="info-next-to-col">Nabeul, Tunisia</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="explore">
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
  </div>


</section>
