@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.animatedbg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #c31432, #240b36);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

.logo {
  margin-top: 40px;
  margin-left: 16px;
  width: 80px;
}

.main-para {
  color: rgb(255,255,255);
  font-family: Muli, sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -1px;
  padding-top: 50%;
  text-align: center;
}

@media (min-width: 550px) {
  .main-para {
    color: rgb(255,255,255);
    font-family: Muli, sans-serif;
    font-weight: 600!important;
    line-height: 37px;
    letter-spacing: -1px;
    padding-right: 54px;
    font-size: 33px;
    padding-top: 100px;
    text-align: left;
  }
}

.nav.navbar-nav.text-white.ml-auto.navtop {
  margin-top: 26px;
}

@media (max-width: 575px) {
  .description {
    font-family: Muli, sans-serif;
    color: rgb(255,255,255);
    padding-right: 125px;
    margin-right: 16px;
    text-align: center;
    margin-left: 16px;
  }
}

@media (min-width: 300px) {
  .description {
    font-family: Muli, sans-serif;
    color: rgb(255,255,255);
    padding-right: 125px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .description {
    font-family: Muli, sans-serif;
    color: rgb(255,255,255);
    padding: 0;
    padding-top: 5px;
    padding-right: 342px;
    margin-left: 16px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .description {
    font-family: Muli, sans-serif;
    color: rgb(255,255,255);
    /*text-align: center;*/
    padding: 0;
    padding-top: 5px;
    padding-right: 409px;
  }
}

@media (min-width: 992px) {
  .main-para {
    color: rgb(255,255,255);
    font-family: Muli, sans-serif;
    font-weight: 600!important;
    font-size: 42px;
    line-height: 53px;
    letter-spacing: -1px;
    padding-top: 100px;
    padding-right: 289px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .main-para {
    padding-left: inherit;
  }
}

@media (max-width: 400px) {
  .learn-more {
    color: white;
    margin-left: 16px;
    padding-top: 0px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 7px;
  }
}

@media (min-width: 768px) {
  .learn-more {
    padding-left: 16px;
  }
}

.learn-more {
  color: white!important;
  margin-left: 0;
  padding-top: 0px;
  font-size: 22px;
  text-decoration: none !important;
}

.email {
  color: rgb(255,255,255);
  font-family: Muli, sans-serif;
  margin-left: 88px;
}

.email.info {
  padding-left: 29px;
}

.col.column {
  margin-left: -200px;
}

.col-icon {
  fill: rgb(255,255,255)!important;
  margin-left: 19px;
}

.info-next-to-col {
  color: white;
  font-size: 15px;
  font-family: Muli, sans-serif;
  margin-top: 13px;
}

div p.animated {
  animation-duration: 2s;
}

div div.animated {
  animation-duration: 2s;
  animation-delay: 1s;
}

.mat-icon svg {
  height: 24px;
  width: 24px;
}
