<div class="animatedbg text" style="height: 1500px;">
  <nav class="navbar navbar-dark navbar-expand-md text-white mt-auto">
    <div class="container"><a class="navbar-brand" routerLink='/home'><img src="../assets/img/am_logo.png"
          class="logo"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"
        style="margin-top: 37px;margin-right: 6px;"><span class="sr-only">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse text-center" id="navcol-1">
        <ul class="nav navbar-nav text-white ml-auto navtop">
          <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="padding-right: 30px;">Work</a>
          </li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/feedbacks" style="padding-right: 30px;">Customer Feedback</a>
          </li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="padding-right: 30px;">About</a>
          </li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink='/feedback'
              style="padding-right: 30px;">Feedback</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <div class="container">
  <h2 class="page-header">Feedback Form</h2>
  <br>
    <form (submit)= "addFeedback()">
      <div class="form-group">
        <label>Name: </label>
        <input type="text" [(ngModel)] = "name" name="name" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Email: </label>
        <input type="text" [(ngModel)] = "email" name="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Feedback Text: </label>
        <input type="text" [(ngModel)] = "input" name="input" class="form-control" required>
      </div>
      <input type="submit" class="btn btn btn-success" value="Submit Feedback">
    </form>
    <br>
<hr>

  <div class="container">
  <div *ngFor = "let feedback of feedbacks" class="row">
      {{feedback.name}} ({{feedback.email}}) says: {{feedback.input}}
      <input type="button" (click) = "deleteFeedback(feedback._id)" value="Delete" class="btn btn-danger">
      <hr>
    </div>

  </div>
</div>
</div>
