<section class="animatedbg" style="height: 270vh;">
  <nav class="navbar navbar-dark navbar-expand-md text-white mt-auto">
    <div class="container"><a class="navbar-brand" routerLink='/home'><img src="../assets/img/am_logo.png"
          class="logo"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"
        style="margin-top: 37px;margin-right: 6px;"><span class="sr-only">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse text-center" id="navcol-1">
        <ul class="nav navbar-nav text-white ml-auto navtop">
          <li class="nav-item" role="presentation"><a class="nav-link" href="https://www.fiverr.com/mohamedaleya" style="padding-right: 30px;">Fiverr</a>
          </li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/feedbacks" style="padding-right: 30px;">Customer Feedback</a>
          </li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink='/about' style="padding-right: 30px;">About</a>
          </li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink='/contact'
              style="padding-right: 30px;">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="aligncenter"><img src="../assets/img/cv.png" class="cv"></div>

</section>
