<section class="animatedbg" style="height: 100vh;">
  <nav class="navbar navbar-dark navbar-expand-md text-white mt-auto">
    <div class="container"><a class="navbar-brand" routerLink="/"><img src="../assets/img/am_logo.png"
          class="logo"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"
        style="margin-top: 37px;margin-right: 6px;"><span class="sr-only">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse text-center" id="navcol-1">
        <ul class="nav navbar-nav text-white ml-auto navtop">
          <li class="nav-item" role="presentation"><a class="nav-link" href="https://www.fiverr.com/mohamedaleya"
              style="padding-right: 30px;">Fiverr</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/feedbacks"
                style="padding-right: 30px;">Customer Feedback</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink='/about'
              style="padding-right: 30px;">About</a></li>
          <li class="nav-item" role="presentation"><a routerLink="/contact" class="nav-link"
              style="padding-right: 30px;">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div>
    <div class="container">
      <p class="main-para animated bounceInUp"><b>Hi! I'm Mohamed, a freelance GFX<br> Designer based in
          Tunisia.</b></p>
      <p class="description animated bounceInUp">I craft high-quality products for forward-thinking people, like you.
      </p>
      <div class="row animated fadeIn" style="padding-top: 115px;">
        <div class="col mt-5"><a href="#" class="learn-more animated shake">Learn More<object width="30px" height="30px"
              class="col-icon" data="../assets/icons/arrow.svg"></object></a></div>
      </div>
    </div>
  </div>
</section>
<section style="height: 500px;background-color: #f7f7f2;">
  <div class="wrapper" style="height: 500px;">
    <div class="container" style="height: 500px;">
      <div class="row macbook-text-left align-items-center" style="height: 500px;">
        <div class="col col-4">
          <h5>Creative &amp; Engaging</h5>
          <h2>I design pixel-perfect graphic solutions.</h2>
          <br><br>
          <div class="btn workButton" href="#">
            <h6 style="margin-top: 7px;">View My Work</h6>
          </div>
        </div>
        <div class="col flex-shrink-1 macbook-img col-8"><img class="flex-shrink-1" src="../assets/img/Macbook.png"
            style="max-width:100%"></div>
      </div>
    </div>
  </div>
</section>
<section style="height: 500px;">
  <div class="wrapper" style="height: 500px;">
    <div class="container" style="margin-top: 100px;">
      <h4>Services</h4>
      <div class="row" style="margin-top: 50px;">
        <div class="col">
          <h2>Graphic Design</h2>
          <br>
          <p style="margin-right: 100px; text-align: justify;">Graphic design is the craft of creating visual content to communicate messages. Applying visual hierarchy and page layout techniques, graphic designers use typography and pictures to meet users' specific needs and focus on the logic of displaying elements in interactive designs to optimize the user experience.</p>
        </div>

        <div class="col">
          <h2>UI/UX Design</h2>
          <br>
          <p style="margin-right: 100px; text-align: justify;"> UI is what people see and touch. It is what comes to mind when thinking of a product or an experience. But the UI stands on the top of a huge UX mountain. The better the UI works, the bigger the UX beneath. The message we must spread is simple: UX is not UI.</p>
        </div>
      </div>


    </div>

  </div>
</section>

<section style="height: 600px;" class="animatedbg">
  <div class="wrapper" style="height: 600px;">
    <div class="container" style="height: 500px;">
      <div class="row macbook-text-left align-items-center" style="height: 600px;">
        <div class="col macbook-img"><img src="../assets/img/Artboard_1.png" style="width: 600px; margin-top: 20px;">
        </div>
        <div class="col" style="color: white; padding-left: 50px;">
          <h6>Featured Work</h6>
          <h2 style="padding-right: 50px;">Sponsoring Document for Enactus SMU</h2>
          <br><br>
          <div class="btn caseButton" href="#">
            <H6 style="margin-top: 7px;">View Case Study</H6>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section style="height: 600px;background-color: #f7f7f2;">
  <div class="wrapper">
    <div class="container">
      <div class="row" style="padding-top: 120px;">

        <h2><b>Notable Associations & Organizations I have worked with:</b></h2>


        <div class="row" style="padding-top: 80px;">
          <div class="col-4-sm" style="padding-top:20px;padding-right: 50px;">
            <div><img src="../assets/img/enactus_smu.png" style="width: 250px; margin-top: 20px;"></div>
          </div>
          <div class="col-4-sm" style="padding-top:20px;padding-right: 50px;">
            <div><img src="../assets/img/student_life.png" style="width: 150px; margin-top: 20px;"></div>
          </div>
          <div class="col-4-sm" style="padding-top:20px;padding-right: 50px;">
            <div><img src="../assets/img/logo_smu.png" style="width: 300px; margin-top: 20px;"></div>
          </div>
          <div class="col-4-sm" style="padding-top:20px;padding-right: 50px;">
            <div><img src="../assets/img/multipack-logo.png" style="width: 250px; margin-top: 20px;filter: grayscale(80%);"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="animatedbg2" style="height: 1300px;">
  <div style="height: 1300px;">
    <div class="container" style="padding-top: 100px;">
      <p class="main-para animated bounceInUp"><strong>Let's design something great together.</strong></p>
      <p class="description animated bounceInUp">If you'd like to start a new project, need help with an existing
        project or have any other
        enquiry, please get in touch.</p>
      <div class="row animated fadeIn" style="padding-top: 150px;">
        <div class="col">
          <div class="row">
            <div class="col">
              <h6 class="email">EMAIL</h6>
            </div>
          </div>
          <div class="row">
            <div class="col"><object width="60px" height="60px" class="col-icon"
                data="../assets/icons/mail.svg"></object></div>
            <div class="col column" style="margin-left: -200px;">
              <h5 class="info-next-to-col">mohamed.aleya@medtech.tn</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h6 class="email">TELEPHONE</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <object width="60px" height="60px" class="col-icon" data="../assets/icons/phone.svg"></object>
            </div>
            <div class="col column">
              <h1 class="info-next-to-col">+ 216 52 612 330</h1>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h6 class="email">LOCATION</h6>
            </div>
          </div>
          <div class="row">
            <div class="col"><object width="60px" height="60px" class="col-icon"
                data="../assets/icons/location.svg"></object></div>
            <div class="col column">
              <h1 class="info-next-to-col">Nabeul, Tunisia</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="color: white;margin-top: 150px;">
      <div class="row">
      <div class="col-8">
        <h5>EXPLORE</h5>
        <div class="row">
          <div class="btn" href="https://www.fiverr.com/mohamedaleya" style="color: white;padding-top: 50px;">Fiverr</div>
        </div>
        <div class="row">
          <div class="btn" routerLink="/feedbacks" style="color: white;padding-top: 20px;">Customer Feedback</div>
        </div>
        <div class="row">
          <div class="btn" routerLink="/about" style="color: white;padding-top: 20px;">About</div>
        </div>
        <div class="row">
          <div class="btn" routerLink="/contact" style="color: white;padding-top: 20px;">Contact</div>
        </div>
      </div>
    </div>
      <div class="row">

        <div style="color: white;padding-top: 150px;"> © Mohamed Aleya 2020 | All Rights Reserved</div>
      </div>
    </div>

  </div>
</section>

<!-- Mobile First Code -->

<!--
  <section class="animatedbg">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/"><img src="../assets/img/am_logo.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>

      </ul>
    </div>
    </div>

  </nav>

</section>

-->
