    <section class="animatedbg" style="height: 1500px;">
        <nav class="navbar navbar-dark navbar-expand-md text-white mt-auto">
            <div class="container"><a class="navbar-brand" routerLink="/"><img src="../assets/img/am_logo.png" class="logo"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1" style="margin-top: 37px;margin-right: 6px;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse text-center" id="navcol-1">
                    <ul class="nav navbar-nav text-white ml-auto navtop">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="padding-right: 30px;">Work</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="padding-right: 30px;">Blog</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="padding-right: 30px;">About</a></li>
                        <li class="nav-item" role="presentation"><a routerLink="/contact" class="nav-link" style="padding-right: 30px;">Contact</a></li>
                    </ul>
            </div>
            </div>
        </nav>
        <div>
            <div class="container">
              <p class="main-para animated bounceInUp"><strong>Hi! I'm Mohamed, a freelance GFX Designer based in Tunisia.</strong></p>
                <p class="description animated bounceInUp">I craft high quality products for forward-thinking people, like you.</p>
                <div class="row animated fadeIn" style="padding-top: 115px;">
                    <div class="col mt-5"><a href="#" class="learn-more animated shake">Learn More<object width="30px" height="30px" class="col-icon" data="../assets/icons/arrow.svg"></object></a></div>
                </div>
            </div>
        </div>
</section>
